.dataTables_wrapper{
  .col-sm-12:nth-last-child(1) {
    .dataTables_filter {
      text-align: end;
    }
  }
}
.notifyjs-wrapper{
  z-index: 9999999999999999999;
}
.section .section-header{
  z-index: 0;
}
.option-label{
  transform: translateY(-14px);
}
textarea {
  height: auto;
}
.dropdown-menu {
  box-shadow: 0 10px 40px 0 rgb(51 73 94 / 15%);
  border: none;
  &.dropdown-action{
    width: 100px !important;
  }
}
.game-pin{
  font-size: 50px !important;
  font-weight: bold;
  letter-spacing: 10px;
}
.btn.btn-start{
  font-size: 40px !important;
}